@include media-breakpoint-up(md){
	.path-user .region-content {
		width: 50%;
		margin: auto;
	}
}
.hero {
	position: relative; /* Anchor the image */
	height: 400px;
}

.hero img {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover; /* Prevents squishing */
}

#block-b5boyko-socialauthlogin {
	display: flex;
    justify-content: center;
    align-items: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
		img {
			padding: 0.5rem;
	}
}

.ctrl .fnavbar .fnav .fnav-item.cmdPrint {
	display: none;
}