@include media-breakpoint-up(md){
	.path-user .region-content,
	.contact-message-feedback-form	{
		width: 50%;
		margin: auto;
	}
}

.paragraph-bg {
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	z-index: auto;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.paragraph-footer {
	width: 100%;
	height: 0px;
	@include media-breakpoint-up(lg) {
		height: 160px;
	}
}

.paragraph--type--singleton {

}

.paragraph--type--chessboard .paragraph-footer {
	background-image: url(img/chess-footer-bg.png);
}

.paragraph--type--album {

}
    
.img-cover .field--name-field-image {
	height: inherit;
}

.img-cover img, img.img-cover  {
	object-fit: cover;
	object-position: center center;
	transition: opacity .4s cubic-bezier(.25,.46,.45,.94);
	width: 100%;
	height: inherit;
	/*height: 320px;
	@include media-breakpoint-up(sm) {
		height: 400px;
	}
	@include media-breakpoint-up(md) {
		height: 480px;
	}
	@include media-breakpoint-up(lg) {
		height: 640px;
	}*/
}

.paragraph {
	video {
	height: inherit;
	/*@include media-breakpoint-up(sm) {
		height: 400px;
	}
	@include media-breakpoint-up(md) {
		height: 480px;
	}
	@include media-breakpoint-up(lg) {
		height: 640px;
	}*/
	}
	.card-body {
		height: 320px;
		@include media-breakpoint-up(sm) {
		height: 280px;
		}
		@include media-breakpoint-up(md) {
			height: 240px;
		}
		@include media-breakpoint-up(lg) {
			height: 160px;
		}
		@include media-breakpoint-up(xl) {
			height: 160px;
		}
	}
}

.flipsheet_group {
	@include media-breakpoint-down(sm) {
		margin-left: -1.25rem;
		margin-right: -1.25rem;
	}/*
	.img-fluid .field--name-field-image {
		height: 320px;
		@include media-breakpoint-up(sm) {
			height: 400px;
		}
		@include media-breakpoint-up(md) {
			height: 480px;
		}
		@include media-breakpoint-up(lg) {
			height: 640px;
		}
	}*/
}


#block-b5boyko-socialauthlogin {
	display: flex;
    justify-content: center;
    align-items: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
		img {
			padding: 0.5rem;
	}
}

.ctrl .fnavbar .fnav .fnav-item.cmdPrint {
	display: none;
}

.gallery-cell {
	width: 100%;
}


.ratio-3x2 {
	--bs-aspect-ratio: calc(2 / 3 * 100%);
}