@include media-breakpoint-up(md){
	.path-user .region-content,
	.contact-message-feedback-form	{
		width: 50%;
		margin: auto;
	}
}

.paragraph-bg {
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	z-index: auto;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.paragraph-footer {
	width: 100%;
	height: 0px;
	@include media-breakpoint-up(lg) {
		height: 160px;
	}
}

.paragraph--type--singleton {

}

.paragraph--type--chessboard .paragraph-footer {
	background-image: url(img/chess-footer-bg.png);
}

.paragraph--type--album {

}
    
.img-cover .field--name-field-image {
	height: inherit;
}

.img-cover img, img.img-cover  {
	object-fit: cover;
	object-position: center center;
	transition: opacity .4s cubic-bezier(.25,.46,.45,.94);
	width: 100%;
	height: inherit;
}

.paragraph {
	video {
	height: inherit;
	}
}

.flipsheet_group {
	@include media-breakpoint-down(sm) {
		margin-left: -1.25rem;
		margin-right: -1.25rem;
	}
}

#block-b5boyko-socialauthlogin {
	display: flex;
    justify-content: center;
    align-items: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
		img {
			padding: 0.5rem;
	}
}

.ctrl .fnavbar .fnav .fnav-item.cmdPrint {
	display: none;
}

.gallery-cell {
	width: 100%;
}

.ratio-3x2 {
	--bs-aspect-ratio: calc(2 / 3 * 100%);
}

.field--name-field-catalog-number {
	position: absolute;
    bottom: 0.25rem;
    left: 0.5rem;
    color: darkgray;
}