@include media-breakpoint-up(md){
	.path-user .region-content {
		width: 50%;
		margin: auto;
	}
}

.paragraph-bg {
	background-color: #FFFFFF !important;
	background-repeat: no-repeat !important;
	background-attachment: scroll !important;
	background-position: center center !important;
	z-index: auto;
	background-size: cover !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
}

.img-cover .field--name-field-image {
height: inherit;
}
.img-cover img, img.img-cover  {
	object-fit: cover;
	object-position: center center;
	transition: opacity .4s cubic-bezier(.25,.46,.45,.94);
	width: 100%;
	height: 320px;
	@include media-breakpoint-up(sm) {
		height: 100%;
		max-height: 400px;
	}
	@include media-breakpoint-up(md) {
		height: 100%;
		max-height: 480px;
	}
	@include media-breakpoint-up(lg) {
		height: 100%;
		max-height: 640px;
	}
}

.paragraph video {
	height: 320px;
	@include media-breakpoint-up(sm) {
		height: 400px;
	}
	@include media-breakpoint-up(md) {
		height: 480px;
	}
	@include media-breakpoint-up(lg) {
		height: 640px;
	}
}
.flipsheet_group {
	@include media-breakpoint-down(sm) {
		margin-left: -1.25rem;
		margin-right: -1.25rem;
	}
	.img-fluid .field--name-field-image {
		height: 320px;
		@include media-breakpoint-up(sm) {
			height: 400px;
		}
		@include media-breakpoint-up(md) {
			height: 480px;
		}
		@include media-breakpoint-up(lg) {
			height: 640px;
		}
	}
	.justify-content-center {
		height: 400px;
		@include media-breakpoint-up(sm) {
			height: 320px;
		}
		@include media-breakpoint-up(md) {
			height: 240px;
		}
		@include media-breakpoint-up(lg) {
			height: 160px;
		}
	}
}
/*.paragraph--type--singleton {
	height: 1440px;
	@include media-breakpoint-up(lg) {
		height: 1280px;
	}
}*/

#block-b5boyko-socialauthlogin {
	display: flex;
    justify-content: center;
    align-items: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
		img {
			padding: 0.5rem;
	}
}

.ctrl .fnavbar .fnav .fnav-item.cmdPrint {
	display: none;
}

